services:
  ui:
    build:
      context: ./core-ui
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./core-ui/src:/app/src
      - ./core-ui/vite.config.ts:/app/vite.config.ts
    networks:
      - app-network
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    networks:
      - app-network
networks:
  app-network:
    driver: bridge