services:
  ui:
    build:
      context: ./core-ui
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
